.navbar {
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    width: 100%;
    filter: drop-shadow(lightgray 0.1rem 0.1rem 0.4rem);
    background-color: rgb(223, 224, 178);
}

/* .buttons {
    background-color: whitesmoke;
} */

/* .navbar-item {
    align-items: center;
} */

/* .navbar-icon-heart {
    width: 80%;
    margin-right: 7px;
} */

/* .navbar-menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.navbar-icon {
    margin: 8px;
}

.nav-links {
    display: flex;
}

.nav-item a {
    display: inline-flex;
    padding: 10px 15px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: white;
} */