.search-result {
    display: inline-flex;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* align-content: space-between; */
    /* justify-content: space-evenly; */
    /* position: relative; */
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 3px 4px lightgray;
}

.recipe {

    height: 200px;

}