.navbar {
    filter: drop-shadow(lightgray 0.1rem 0.1rem 0.4rem);
}

.navbar-menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.navbar-icon {
    margin: 8px;
}

.navbar-icon-heart {
    width: 80%;
    margin-right: 7px;
}